<h1>Wikis</h1>

<div class="row">
  <!--<% @wikis.each do |wiki| %>-->
  <% policy_scope(@user.wikis).each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <div class="col-md-4">
            <%= link_to wiki.title, wiki %>
          </div>
          <div class="col-md-1">
            <%= link_to "edit", edit_wiki_path(wiki), class: 'btn btn-success'  %>
          </div>
          <div class="col-md-1">
            <%= link_to "delete",  wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?'} %>
          </div>
        </h4>
      </div>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>